@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #2A2A2A;
}

.margin {
  margin: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto 0;
  padding: 0 15px;
  width: 100%;
}

header {
  max-width: 1600px;
  margin: auto;
}

nav {
  display: flex;
  position: fixed;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid #2A2A2A;
  border-top: 2px solid #2A2A2A;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  /*position: fixed;*/
  width: 100%;
  max-width: 100vw;
  background-color: #fff;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

nav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

section .margin h4 {
  margin: 2rem 0 0 0;
}

nav .header-logo {
  align-self: auto;
  justify-self: start;
  display: flex;
  justify-content: flex-start;
}

.logo {
  overflow: hidden;
  margin: 15px 0 5px;
  width: 454px;
  float: left;
}

nav .header-logo img {
  width: 160px;
  height: auto;
}

.header-stuff {
  float: right;
  width: 100%;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 0;
  height: 105px;
}

.header {
  margin-bottom: 0;
  height: 105px;
}

nav {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  max-width: 100vw;
  background-color: #fff;
  top: 0;
  left: 0;
}
nav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
nav li {
  list-style-type: none;
}

.header-logo-desktop {
  display: none;
}

.link-wrapper {
  display: none;
}

.footer-basic ul {
  flex-flow: column-reverse;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.topnav a:not(:first-child) {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}

.topnav.responsive #icon-wrapper {
  position: absolute;
  right: 0;
  top: 8px;
}

.topnav.responsive {
  position: fixed;
  top: 0;
  left: 0;
  display: inline;
  z-index: 10;
}
.topnav.responsive .link-wrapper {
  display: block;
  width: 100%;
  align-self: flex-end;
}
.topnav.responsive li {
  width: 100vw;
  float: left;
  display: block;
  text-align: left;
}

#icon-wrapper {
  float: right;
}

#icon-wrapper a {
  display: inline;
}

a {
  text-decoration: none;
}

main {
  max-width: 1600px;
  margin: auto;
}

footer {
  background-color: #447019;
  width: 100%;
  margin-bottom: 1rem;
  min-height: 100px;
  font-family: "Open Sans", sans-serif;
}

footer p {
  padding: 1rem;
  color: #fff;
  text-align: center;
  font-size: smaller;
}

.footer-basic {
  color: #fff;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  /* flex-flow: column-reverse; */
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 1rem 1rem 0.4rem 0;
  display: inline-block;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
  font-weight: bold;
}

.footer-basic .social {
  text-align: center;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 1rem 1rem 0 0;
  color: inherit;
  opacity: 0.85;
}

.footer-basic .social > a:hover {
  opacity: 1.2;
}

.item-container, .container-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 0;
}

#creeate-reecipie .item-container, .container-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
}

article {
  background-color: #fff;
  margin: 1.5rem 0.5rem;
}

.recipe-container {
  background-color: #f1f1f1;
}

.add-more {
  float: right;
  color: #447019;
}

#search {
  width: 100%;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  margin: 0.5rem 0 1.5rem 0;
  border: 2px solid #2A2A2A;
}

.search-section {
  display: grid;
  justify-content: center;
  background-color: #f1f1f1;
}

#search:focus {
  outline: none;
  border: 2px solid #D9AB23;
}

#signup-wrapper input:target {
  outline: none;
  border: 2px solid #D9AB23;
}

.search_area {
  max-width: 450px;
  min-width: 300px;
  width: 50%;
  margin: 8rem auto 0;
}

#search.search-fav {
  margin-bottom: 0.2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  text-align: center;
  padding: 5px 0;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 100;
  font-size: large;
}

aside h3 {
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
}

.aside-item {
  display: grid;
  grid-template-columns: 30% 70%;
}
.aside-item img {
  max-height: 80px;
}
.aside-item .aside-text {
  max-width: 100%;
  padding: 0.4rem;
}
.aside-item .aside-text p {
  font-size: 0.9rem;
}

.reset-password {
  color: #447019;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.page-breadcrumbs {
  font-family: "Montserrat", sans-serif;
  color: #2A2A2A;
  font-family: "Montserrat", sans-serif;
  color: #2A2A2A;
  font-size: small;
  padding-top: 1rem;
}

.one-recipe {
  background: transparent;
}

.meal-photo {
  max-width: 100%;
  height: auto;
}

#create-recipe-subpage .meal-photo {
  width: 50%;
}

.header-photo {
  width: 100%;
}

.ad {
  max-height: 300px;
}

.ad-photo {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.border-container {
  padding: 1rem;
  border: 2px solid #f1f1f1;
  max-width: 400px;
  max-height: 200px;
  margin: 0 1rem;
}

.recipe-details-wrapper input {
  width: 30px;
}

#create-recipe-subpage .border-container {
  border: none;
}

.recipe-details-container h1 {
  padding: 0 0 45px 0px;
}

.edit-container {
  margin: 0 49px 0 49px;
}

.titles {
  width: 100%;
  display: flex;
  display: contents;
}

.titles h3 {
  font-family: "Montserrat", sans-serif;
  color: #2A2A2A;
}

.recipe-details-wrapper {
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0.2rem 0;
}

#recipe-subpage main {
  background-color: #f1f1f1;
}

.recipe-details-container {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f1f1f1;
}

.details-container {
  padding: 0.7rem;
}
.details-container p {
  font-size: 0.9rem;
}

.details-title {
  font-family: "Montserrat", sans-serif;
  color: #2A2A2A;
  font-size: smaller;
  width: 100%;
}

.details-link {
  color: #447019;
  font-family: "Open Sans", sans-serif;
}

.details-title2 {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  align-self: center;
}

.details-text {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.details-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  margin: 1.5rem 0 0 0;
  border-top: 2px solid #fff;
}
.details-box-container p {
  border-right: 2px solid #fff;
  padding: 1rem 0;
}
.details-box-container p:last-of-type {
  border: 0px;
}
.details-box-container span {
  display: block;
}

.recipe-details-button {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  background-color: #2A2A2A;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.recipe-details-button:hover {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  text-transform: uppercase;
  color: #2A2A2A;
  outline: none;
  border: solid #2A2A2A;
  cursor: pointer;
}

.secondary-button {
  width: 25%;
  /* height: 2rem; */
  font-size: smaller;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #2A2A2A;
  /* padding: 81px; */
  background-color: #fff;
  border-radius: 3px;
  border: solid #2A2A2A;
  padding: 3px 3px;
  cursor: pointer;
}

i {
  height: 15px;
  width: 15px;
}

.slideshow-container {
  position: relative;
  margin: auto;
  margin-top: 67px;
}

.mySlides {
  display: none;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.mySlides:first-of-type {
  background-image: url("../photos/header1.jpeg");
  background-size: cover;
}

.mySlides:nth-of-type(2) {
  background-image: url("../photos/header2.jpg");
  background-size: cover;
}

.mySlides:nth-of-type(3) {
  background-image: url("../photos/header3.png");
  background-size: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.one-item {
  display: inline;
}

#signup-wrapper button {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #A5D145;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: 2px solid #2A2A2A;
}

#signup-wrapper button,
.reset-password_btn {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #A5D145;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: 2px solid #2A2A2A;
}

#signup-wrapper button:hover {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: 600;
  outline: none;
  border: 2px solid #2A2A2A;
  cursor: pointer;
}

#signup-wrapper button,
.reset-password_btn:hover {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: 600;
  outline: none;
  border: 2px solid #2A2A2A;
  cursor: pointer;
}

#signup-subpage {
  height: 100vh;
  overflow-y: hidden;
}

#signup-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../photos/signup.jpg");
  background-size: cover;
  margin: 0;
}
#signup-wrapper h1 {
  color: #fff;
  border: none;
}
#signup-wrapper #form-wrapper {
  background-color: transparent;
  margin: 0 auto;
  position: relative;
  top: 10%;
  max-width: 300px;
}
#signup-wrapper input {
  display: block;
  margin: 0.5rem auto;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #000000;
  font-family: "Open Sans", sans-serif;
}
#signup-wrapper button {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #A5D145;
  font-weight: 600;
}
#signup-wrapper .secondary-button {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  background-color: #2A2A2A;
  text-transform: uppercase;
  color: #fff;
}

.log-in {
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 0px 0px 10px rgba(0, 0, 0, 0);
}

#settings-headings a {
  display: block;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-top: 2px solid #000000;
  text-align: center;
  padding: 5px 0;
  margin: 0 1rem;
}
#settings-headings a:last-of-type {
  border-bottom: 2px solid #000000;
}

.settings {
  padding: 2rem;
  max-width: 700px;
  margin: auto;
}
.settings input {
  display: block;
  margin: 0.5rem auto;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #000000;
  font-family: "Open Sans", sans-serif;
}
.settings button {
  width: 100%;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: #A5D145;
  font-weight: 600;
}
.settings form {
  max-width: 400px;
  margin: auto;
}

.logo {
  overflow: hidden;
  margin: 15px 0 5px;
  width: 454px;
  float: left;
}

.header-logo-desktop {
  display: none;
}

.icons-desktop {
  display: none;
}

.icons-desktop a {
  color: #2A2A2A;
  cursor: pointer;
}

.icons-desktop a:hover {
  color: #A5D145;
  cursor: pointer;
}

#navigation .topnav {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .recipe-subpage main {
    display: grid;
    grid-template-columns: 30% 68%;
    justify-content: space-between;
  }

  .topnav#navigation a:hover {
    color: #A5D145;
  }

  .header-logo-desktop {
    display: none;
  }

  .mySlides:first-of-type {
    background-image: url("../photos/header1.jpeg");
    background-size: cover;
    background-position: right;
  }

  .header-desktop {
    display: none;
  }

  li .li-item {
    display: hidden;
  }

  #settings-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .aside-item {
    width: 100%;
  }

  .footer-basic ul {
    flex-flow: column-reverse;
  }
}
@media screen and (min-width: 1048px) {
  #signup-subpage {
    max-height: 100vh;
  }

  li .li-item {
    display: flex;
  }

  #signup-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    background: transparent;
  }

  #signup-wrapper h1 {
    color: #2A2A2A;
  }

  #signup-wrapper #image-wrapper {
    background-image: url("../photos/signup.jpg");
    background-size: cover;
    margin: 0;
  }

  #signup-wrapper #form-wrapper {
    max-width: 450px;
    width: 40%;
  }

  #signup-wrapper .log-in {
    text-shadow: none;
    color: black;
  }

  .aside-item {
    flex-wrap: nowrap;
  }

  .aside-item img {
    max-height: 180px;
  }

  .header-logo-desktop {
    display: hidden;
  }

  .footer-basic ul {
    flex-flow: wrap;
  }
}
@media screen and (min-width: 1320px) {
  .header-logo-desktop {
    display: block;
    overflow: hidden;
    margin: 15px 0 5px;
    width: 275px;
  }

  #navigation img {
    display: none;
  }

  .li-item {
    display: flex;
  }

  #settings-subpage footer {
    position: fixed;
    bottom: 0;
  }

  .link-wrapper {
    display: flex;
  }

  #icon-wrapper {
    display: none;
  }

  .topnav {
    display: flex;
    position: static;
    padding: 17px 0;
    text-align: center;
    justify-content: center;
  }

  .topnav a {
    margin: 7px 60px 7px 0px;
    padding: 0 0 3px;
    position: relative;
  }

  .slideshow-container {
    margin-top: 0;
  }

  .header-desktop {
    display: flex;
    justify-content: space-between;
  }

  .icons-desktop {
    margin-top: 25px;
    display: flex;
  }

  .icons-desktop a {
    padding: 10px;
    font-size: 25px;
  }

  .aside-item .aside-text {
    max-width: 100%;
    padding: 0.4rem 1rem 0 79px;
  }

  .footer-basic ul {
    flex-flow: wrap;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
